{% extends "G7App/modifier.html" %}

{% block content %}
    <div class="container">
        <h2>Modifier la Compagnie "{{ compagnies.nom }}"</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.nom.label_tag }}
            {{ form.nom }}
            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.pays_rattachement.label_tag }}
            {{ form.pays_rattachement }}
            <button type="submit" class="btn-modifier">Modifier</button>
            <a href="/G7App/piste_aeroport/liste/" class="btn-annuler">Annuler</a>
        </form>
    </div>
{% endblock %}