{% extends "G7App/liste.html" %}

{% block title %}
    Liste des aéroports
{% endblock %}


{% block content %}
    <div class="container">
        <a href="/G7App/aeroport/ajouter" class="btn">Ajouter un aéroport</a>
        <h2>Liste des aéroports</h2>
        <table>
            <thead>
                <tr>
                    <th>Nom de l'aéroport</th>
                    <th>Pays</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for aeroport in aeroports %}
                <tr>
                    <td>{{ aeroport.nom }}</td>
                    <td>{{ aeroport.pays }}</td>
                    <td>
                    <form>
                        <a href="/G7App/aeroport/modifier/{{aeroport.id}}/" class="btn-modifier">Modifier</a>
                        <a href="/G7App/aeroport/supprimer/{{aeroport.id}}/" class="btn-supprimer">Supprimer</a>
                        <a href="/G7App/aeroport/vols/{{aeroport.id}}/" class="btn-vols">Vols</a>
                    </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">Aucun aéroport enregistré.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
